[submodule "cookbooks/monit"]
	path = cookbooks/monit
	url = git://github.com/apsoto/monit.git
[submodule "rsyslog"]
	path = rsyslog
	url = https://github.com/opscode-cookbooks/rsyslog
[submodule "cookbooks/rsyslog"]
	path = cookbooks/rsyslog
	url = https://github.com/opscode-cookbooks/rsyslog
